.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:hover {
    text-decoration: none;
}
a:focus {
    outline: 0 solid;
    text-decoration: none;
}
img {
    height: auto;
    max-width: 100%;
}
input:focus, button:focus, textarea:focus, a:focus {
    outline: medium none;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin: 0 0 15px;
}
p:last-child {
    margin-bottom: 0;
}
.wrapper {
    margin: 0 auto;
    width: 350px;
}
.weather-area .box{ 
margin-bottom:4px;
}
.box {
    background:#8EE5EE;
    border-radius: 2px;
    display: inline-block;
    padding: 3px 10px;
    text-align: center;
    width: 49%;
}
.box .fa {
  float: left;
  color: #ffffff;
  opacity: .3;
}
.box h3 {
  font-size: 20px;
  text-transform: uppercase;
}
span.info {
  font-size: 10px;
  color: red;
}
