{% extends 'base/base.html' %}


 {% block content %}
            <form method="post" > {% csrf_token %}
				<div class="location-form mt-4">
					<div class="input-group mb-3">
						{{form.name}}
					  <div class="input-group-append">
						<button class="btn btn-outline-secondary" type="submit">Button</button>
					  </div>
					</div>
				</div>

				{% if message %}
                 <div class="alert {{ message_class }} alert-dismissible fade show" role="alert">
					  {{ message }}
					  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					  </button>
					</div>
                 {% endif %}

			</form>

			<div class="weather-card">
				{% for w in weather_data %}
			    <div class="card">
					<a href="{% url 'delete_city' w.city %} " class="delete"><i class="fa fa-times" aria-hidden="true"></i></a>
				    <img src="https://openweathermap.org/img/wn/{{w.icon}}.png" alt="" />
					<h3>{{w.city}}</h3>
					<div class="tem">{{w.temp}} <sup>0</sup>F</div>
					{{w.des}}
				</div>
				{% endfor %}
			</div>

 {% endblock  %}